* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

body {
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    user-select: none;
}

.character {
    position: fixed;
    bottom: 0;
    width: 64px;
    height: 64px;

    transition: transform 0.1s linear;
    will-change: transform;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.character .sprite {
    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: 50%;
    outline: 2px solid black;
}

.character .name {
    position: absolute;
    bottom: 72px;

    color: black;
    text-align: center;
}

@media (max-width: 767px) {
    .character {
        width: 40px;
        height: 40px;
    }

    .character .name {
        font-size: 12px;
    }
}