* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

body {
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    user-select: none;
}

.characters * {
    position: fixed;
    bottom: 0;
    width: 64px;
    height: 64px;
    background-size: cover;
    border-radius: 8px;

    transition: transform 0.1s linear;
    will-change: transform;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.characters .name {
    position: fixed;
    bottom: 30px;

    color: black;
    background: transparent;
    display: block;
    text-align: center;
}

@media (max-width: 767px) {
    .characters * {
        width: 32px;
        height: 32px;
    }

    .characters .name {
        font-size: 12px;
    }
}