* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    min-height: 100vh;
    color: #333;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    user-select: none;
    text-align: center;
}

.opening-screen {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    animation: gradientShift 15s ease infinite;
    transition: opacity 0.5s ease;
    cursor: pointer;
    background: linear-gradient(270deg, #ffe6e6, #ffcccc, #ff9999);
    background-size: 800% 800%;
    width: 100vw;
    height: 100vh;
}

.rizz-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    transition: width 0.7s linear, height 0.7s linear;
    border-radius: 50%;
    background: black;
    width: 0;
    height: 0;
}

.rizz-overlay.grow {
    width: 300vmax;
    height: 300vmax;
}

.heart {
    position: absolute;
    bottom: -20px;
    opacity: 1;
    animation: floatUp 1s ease-in forwards;
    animation-delay: var(--delay, 0s);
    color: red;
    font-size: 1rem;
}

.heart::before {
    content: '❤';
}

@keyframes floatUp {
    0% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }

    100% {
        transform: translateY(calc(-1 * var(--float-distance, 70vh))) scale(1.5);
        opacity: 0;
    }
}

@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.opening-screen.fade-out {
    opacity: 0;
}

.opening-content {
    z-index: 1;
    max-width: 80%;
    text-align: center;
}

.opening-title {
    margin-bottom: 1rem;
    color: #666;
    font-weight: bold;
    font-size: 2rem;
}

.click-instruction {
    opacity: 0.8;
    color: #999;
}

.choice-btn {
    transition: background 0.3s;
    cursor: pointer;
    margin: 10px;
    border: none;
    border-radius: 10px;
    background: #ff9999;
    padding: 10px 20px;
    color: white;
    font-size: 1rem;
}

.choice-btn:hover {
    background: #ff6666;
}

#dynamicButton {
    transition: background 0.3s;
    cursor: pointer;
    margin-top: 20px;
    outline: 2px solid #ff6666;
    border: none;
    border-radius: 10px;
    background: #ff9999;
    padding: 10px 20px;
    color: white;
    font-size: 1rem;
}

footer {
    display: none;
    margin-top: 2rem;
}

footer a {
    transition: color 0.3s ease;
    color: #d63384;
    text-decoration: none;
}

footer a:hover {
    color: #e754a3;
    text-decoration: underline;
}