* {
    box-sizing: border-box;
    user-select: none;
}

body {
    margin: 0;
    background: #111;
    overflow: hidden;
    font-family: sans-serif;
}

#game {
    position: relative;
    width: 100vw;
    height: 100vh;
}

#conveyor-wrapper {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 120px;
    transform: translateY(-50%);
}

#conveyor {
    width: 100%;
    height: 100%;
    background: #222;
    border-top: 2px solid #333;
    border-bottom: 2px solid #333;
    position: relative;
}

.block {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 8px;
    cursor: grab;
    z-index: 10;
    touch-action: none;
    transition: transform 1s ease, opacity 1s ease;
}

.block.dragging {
    cursor: grabbing;
}

.block.pop {
    transform: scale(0);
    opacity: 0;
}

.zone {
    position: absolute;
    /* width: 150px;
    height: 150px; */
    top: 40px;
    border: 2px dashed #666;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaa;
}

#zone-left {
    left: 40px;
    background: rgba(0, 120, 255, 0.15);
}

#zone-right {
    right: 40px;
    background: rgba(255, 120, 0, 0.15);
}

.block.placeholder {
    background: rgba(0, 0, 0, 0.4);
    border: 2px dashed #333;
    pointer-events: none;
    transition: opacity 0.6s ease, left 0.2s ease, top 0.2s ease;
}

.block.placeholder.fade-out {
    opacity: 0;
}

@media (max-width: 50rem) {
    #conveyor-wrapper {
        height: 15vh;
    }

    .block {
        width: 15vw;
        height: 15vw;
        border-radius: 2vw;
    }

    .zone {
        width: 25vw;
        height: 25vw;
        top: 10vh;
    }

    #zone-left {
        left: 5vw;
    }

    #zone-right {
        right: 5vw;
    }
}
